<%-include('./partials/header.ejs')%>
<link href="/css/styleEdit.css" type="text/css" rel="stylesheet"> 
</head>
<body>
<a href="/ocparadise"><img src="https://i.imgur.com/ZZD5u3W.png" alt="logo" class="logo"></a>

<div class="background">
    <div class="container">
    <div class="content">
<h1>Edit <%= chara.name %></h1>

<form action="/ocparadise/<%=chara.id%>?_method=PUT" method="POST">
  <label for="image">Image URL:</label>
  <input type="text" id="image" name="image" value="<%= chara.image %>"><br>

  <label for="name">Name:</label>
  <input type="text" placeholder="Character Name Here" id="name" name="name" value="<%= chara.name %>"><br>

  <label for="birthday">Birthday:</label>
  <input type="text" id="birthday" name="birthday" value="<%= chara.birthday %>"><br>

  <label for="zodiac">Zodiac:</label>
  <select id="zodiac" name="zodiac">
    <option value="">Select a zodiac sign</option>
    <option value="Aries" <% if (chara.zodiac === 'Aries') { %>selected<% } %>>Aries</option>
    <option value="Taurus" <% if (chara.zodiac === 'Taurus') { %>selected<% } %>>Taurus</option>
    <option value="Gemini" <% if (chara.zodiac === 'Gemini') { %>selected<% } %>>Gemini</option>
    <option value="Cancer" <% if (chara.zodiac === 'Cancer') { %>selected<% } %>>Cancer</option>
    <option value="Leo" <% if (chara.zodiac === 'Leo') { %>selected<% } %>>Leo</option>
    <option value="Virgo" <% if (chara.zodiac === 'Virgo') { %>selected<% } %>>Virgo</option>
    <option value="Libra" <% if (chara.zodiac === 'Libra') { %>selected<% } %>>Libra</option>
    <option value="Scorpio" <% if (chara.zodiac === 'Scorpio') { %>selected<% } %>>Scorpio</option>
    <option value="Sagittarius" <% if (chara.zodiac === 'Sagittarius') { %>selected<% } %>>Sagittarius</option>
    <option value="Capricorn" <% if (chara.zodiac === 'Capricorn') { %>selected<% } %>>Capricorn</option>
    <option value="Aquarius" <% if (chara.zodiac === 'Aquarius') { %>selected<% } %>>Aquarius</option>
    <option value="Pisces" <% if (chara.zodiac === 'Pisces') { %>selected<% } %>>Pisces</option>
  </select><br>

  <label for="birthplace">Birthplace:</label>
  <input type="text" id="birthplace" name="birthplace" value="<%= chara.birthplace %>"><br>

  <label for="bio">Bio:</label>
  <textarea id="bio" name="bio"><%= chara.bio %></textarea><br>

  <label for="idiosyncrasy">Idiosyncrasy:</label>
  <textarea id="idiosyncrasy" name="idiosyncrasy"><%= chara.idiosyncrasy %></textarea><br>

  <label for="personality">Personality:</label>
  <textarea id="personality" name="personality"><%= chara.personality %></textarea><br>

  <label for="relationships">Relationships:</label>
  <textarea id="relationships" name="relationships"><%= chara.relationships %></textarea><br>

  <label for="goalsMotivations">Goals and Motivations:</label>
  <textarea id="goalsMotivations" name="goalsMotivations"><%= chara.goalsMotivations %></textarea><br>

  <label for="fearsWeakness">Fears and Weakness:</label>
  <textarea id="fearsWeakness" name="fearsWeakness"><%= chara.fearsWeakness %></textarea><br>

  <label for="skills">Skills:</label>
  <textarea id="skills" name="skills"><%= chara.skills %></textarea><br>

  <label for="mostTreasured">Most Treasured:</label>
  <textarea id="mostTreasured" name="mostTreasured"><%= chara.mostTreasured %></textarea><br><br>


  <!-- <label for="askForPermissionToUse">Ask for permission to use:</label>
  <input type="checkbox" id="askForPermissionToUse" name="askForPermissionToUse" <%= (chara.askForPermissionToUse) ? 'checked' : '' %> > -->
  
  <!-- <label for="originalCreator">Original Creator:</label>
  <input type="text" id="originalCreator" name="originalCreator" value="<%= chara.originalCreator %>"> -->


  <!-- <label for="instaLink">Instagram:</label>
  <input type="text" id="instaLink" name="instaLink" value="<%= chara.instaLink %>">


  <label for="twitterLink">Twitter:</label>
  <input type="text" id="twitterLink" name="twitterLink" value="<%= chara.twitterLink %>">


  <label for="tikTokLink">Tiktok:</label>
  <input type="text" id="tikTokLink" name="tikTokLink" value="<%= chara.tikTokLink %>"> -->

  <button type="submit" id="submit" style="right: 90px;">Save Changes</button><br>
</form>
<a href="/ocparadise/"><button>Back</button></a>


<%- include('./partials/footer.ejs') %>
