
<%-include('./partials/header.ejs')%>  
<link href="/css/styleIndex.css" type="text/css" rel="stylesheet"> 
</head>
<body>
<a href="/ocparadise"><img src="https://i.imgur.com/ZZD5u3W.png" alt="logo" class="logo"></a>

<h1>Welcome to Paradise</h1>
<nav>
    <button><a href="/ocparadise/new"><strong>Make a Character</strong></a></button>
</nav> 
<div class="background">
    <div class="container">
    <div class="content">
    <ul>
        <div class="wrapper">
        <!-- <div class="fullwrap">  -->

        <% for (let i = 0; i < chara.length; i++ ) { %>
            <li>
                <div class="fullwrap"> 
                <a href="/ocparadise/<%=chara[i].id%>">
                    <div class="wrapper">
                    <!-- <div class="fullwrap">  -->
                    <img src="<%=chara[i].image%>" id="display-img" style="width: 250px; height: 250px; border-radius: 1000px;"/>
                    <div class="fullcap">
                    <%=chara[i].name.charAt(0).toUpperCase() + chara[i].name.slice(1)%>
                    </div>
                    </div>
                </div>
                    <form action="/ocparadise/<%= chara[i].id %>/edit" method="GET">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/ocparadise/<%= chara[i].id%>/?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </a>
            </li>
        <% } %>
    </ul>




<%-include('./partials/footer.ejs')%>
